
</div>
</div>
</div>
<footer>
<p class="text-center">Akhan's Albumz &copy; 2016, All Rights Reserved</p>
</footer>

<script src="/js/jquery.js"></script>
<script src="/js/main.js"></script>

</body>
</html>